/*#cart {
	display: none;
}*/
#empty {
	display: none;
}

.heading > * {
	text-align: center;
}

.container {
	display: flex;
	justify-content: space-around;
}
.payment {
	padding: 20px;
	height: fit-content;
	flex: 0.15 1 auto;
/*	position: sticky;
	top: 0;*/
}
.payment > h3 {
	margin: 5px 0;
}
.payment > form {
	display: flex;
	flex-direction: column;
	width: inherit;
	align-items: flex-start;
}
.payment > form > label {
	display: flex;
	gap: 10px;
	margin: 10px 0;
}
.payment > form > label > textarea {
	min-height: 100px;
	resize: none;
}

