

/*Phần đầu trang*/
.heading {
	height: 520px;
	background: #BCD38B;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.heading > h1 {
	font-family: "Calistoga";
	font-size: 48px;
	margin: 0;
	font-weight: bolder;
	text-transform: uppercase;
}
.heading > p {
	font-size: 20px;
}

/*Giới thiệu chất lượng*/
.intro-quality {
	padding: 30px;
	min-height: 450px;
	box-sizing: border-box;
	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-wrap: wrap;
	gap: 20px;
}
.intro-quality * {
	text-align: center;
}

.intro-quality > .card {
	width: 240px;
	height: 316px;
	padding: 20px;
	box-sizing: border-box;
	border-radius: 10px;
}
.intro-quality > .card > h2, .intro-quality > .card > p {
	margin: 10px;
}
.intro-quality > .card > img {
	display: block;
	background: #BCD38B;
	width: 200px;
	height: 200px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}



/*Credit*/
/*.credit {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;*/
/*	background: url("../res/photo/adonyi-foto.jpg");*/
/*	background-size: 1366px;
	background-position-y: -350px;
}
.credit > img {
	width: 160px;
	height: 160px;
 	background: #B1B2B5;
 	border-radius: 50%;
 	text-align: center;

}
.credit > p {
	max-width: 400px;
	text-align: center;
}
*/