/*Phần đầu trang*/

.intro {
	display: flex;
	justify-content: space-between;
	padding: 10px 30px;
	height: 150px;
	flex-wrap: wrap;
}

.sort-wrapper {
	align-self: flex-end;
}
	/*Chữ tiêu đề*/

.heading {
	text-align: center;
}
.heading > h1 {
	font-size: 48px;
	margin-bottom: 0;
}
.sort-wrapper > select {
	min-width: 120px;
	padding: 2px 5px;
	border-radius: 10px;
}

/*Nhóm*/

.wrapper {
	display: flex;
	justify-content: space-around;
	margin: 20px 0;
	min-height: 500px;
	padding: 20px;
}
/*.category, .product-wrapper {
	border: 1px black solid;
}*/

	/*Điều hướng*/
.category {
	min-width: 200px;
	background: var(--nav);
	padding: 10px 20px;
	border-radius: 10px;
	flex-grow: 0;
	height: 320px;
}
.item > button {
	width: 200px;
	background: #BCD38B;
	margin: 5px 0;
	padding: 8px 20px;
	text-align: left;
	font-size: 18px;
	border: 0;
}
.item > button:hover {
	opacity: 0.9;
	text-decoration: underline;
}
.item > button > i {
	float: right;
}
.item > .dropdown {
	display: block;
	height: 0px;
	overflow: hidden;
}
.dropdown.show {
	height: fit-content;
}
.item > .dropdown > a {
	display: block;
	padding: 4px 20px;
}

/*Sản phẩm*/
.product-wrapper {
	flex-grow: 0.8;
}

	/*Thanh tìm kiếm*/
.search-wrapper {
	display: flex;
	gap: 40px;
	align-items: center;
}

